APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DOCKER_DB_DATABASE=laravel_rag
DOCKER_DB_USERNAME=root
DOCKER_DB_PASSWORD=

SESSION_DRIVER=database
QUEUE_CONNECTION=redis
CACHE_STORE=redis
REDIS_HOST=redis
REDIS_PORT=6379

OPENAI_API_KEY=
COHERE_API_KEY=
